{% extends "base.html" %}

{% block content %}
<h4>Reply{{ comment.author.username }}</h4>
<hr>
<div>
    <img src="{{comment.author.gravatar(size=30)}}">
    <a href="{{url_for('user.users', username=comment.author.username)}}">
        {{ comment.author.username }}
    </a>:
</div>
<div class="comments">
    <p>
    {% if comment.body_html %}
        {{ comment.body_html | safe }}
    {% else %}
        {{ comment.body }}
    {% endif %}
    </p>
</div>
<hr>
<form action="" method="post" name="reply">
{{form.hidden_tag()}}
{{form.body(class="form-control",rows="3")}}<br>
{% for error in form.body.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}<br>
<p>
    <input class="btn btn-default" type="submit" value="Post">
</p>
</form>
{% endblock %}
