{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">Administrator</div>
	<div class="panel-body">
		<h4>
			Hello, ADMIN. Your privileges are as follows.
		</h4>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="{{ url_for('admin.admin_post') }}">Manage blog</a>
		</li>
		<li class="list-group-item">
			<a href="{{ url_for('admin.admin_comment') }}">Manage comments</a>
		</li>
		<li class="list-group-item">
			<a href="{{ url_for('admin.admin_user') }}">All users</a>
		</li>
		<li class="list-group-item">
			<a href="{{ url_for('admin.add_notice') }}">Add information</a>
		</li>
	</ul>
</div>
{% endblock %}
